{% extends 'Authentication/navigation.html' %}

{% block navigation %}
{% load static %}

<div class="back-createfamily" style="background-image: url( {% static 'Authentication/img/doodle3.png' %})">
    <div class="center-form blacked">
  {% load filters %}
      <form method="POST">
          {% csrf_token %}
          {% for field in form %}
            <p>
            {% if field.name == 'name' %}
             <h5>Nazwa rodziny:</h5>
            {% else %}
            <h5>Opis rodziny:</h5>
            {% endif %}
              {{ field|addclass:"form-control" }}
            {% if field.help_text %}
                {% if field.name != 'username' %}
            <small style="color: grey">{{ field.help_text }}</small></br>
                {% endif %}
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
            <button type="submit" class="btn btn-success">Stwórz!</button>
        </form>
    </div>
</div>

{% endblock %}