{% extends 'Authentication/base.html' %}

{% block content %}

{% load filters %}

<div class="back-register">

  <div class="center-form blacked">
  <h2>Stwórz konto!</h2>
  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <p>
        {% if field.name == 'username' %}
         <h5>Nazwa użytkownika:</h5>
        {% elif field.name == 'first_name' %}
        <h5>Imię:</h5>
        {% elif field.name == 'last_name' %}
        <h5>Nazwisko:</h5>
        {% elif field.name == 'email' %}
        <h5>Adres e-mail:</h5>
        {% elif field.name == 'password1' %}
        <h5>Hasło:</h5>
        {% elif field.name == 'password2' %}
        <h5>Potwierdź hasło:</h5>
        {% endif %}


        {{ field|addclass:"form-control" }}
        {% for error in field.errors %}
          {% if error == 'This password is too short. It must contain at least 8 characters.' %}
            <p style="color: red">Hasło jest za krótkie, musi mieć conajmniej 8 znaków.</p>
          {% elif error == 'This password is too common.' %}
            <p style="color: red">Hasło jest zbyt powszechne, wymyśl proszę coś bardziej skomplikowanego.</p>
          {% elif error == 'The two password fields didn’t match.' %}
            <p style="color: red">Podane hasła różnią się. Spróbuj jeszcze raz.</p>
          {% endif %}
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-outline-primary">Utwórz konto!</button>
  </form>
  </div>
</div>
{% endblock %}