{% extends 'Authentication/base.html' %}

{% block content %}


{% if user.is_authenticated %}

<h1>Witaj w Familiar</h1></h1><br><br>

<h4>Jesteś już zalogowany jako: {{ user.username }}</h4>


<a href="{% url 'logedin' %}" type="button" class="btn btn-outline-primary">Wejdź!</a> <br><br>
<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary">Zmień konto!</button>
</form>
{% else %}

<h1>Witaj w Familiar</h1></h1><br><br>

<h4>Masz już konto?</h4><br>
<a href="login/" class="btn btn-outline-primary">Zaloguj!</a>
<a href="creatuser/" class="btn btn-outline-primary">Stwórz konto!</a>

{% endif %}


{% endblock %}

