{% extends 'Authentication/navigation.html' %}

{% block navigation %}
{% load static %}

<div class="back-joinfamily" style="background-image: url( {% static 'Authentication/img/doodle3.png' %})">
    <div class="blacked center-form">
    <h4>Wpisz ID rodziny do której chcesz dołączyć.</h4>
    <h6>Może udestępnić Ci je osoba która zaprosiła Cię do Familiara lub o której wiesz, że znajduję się już w rodzinie której częścią jesteś.</h6>
       <div class="center-form">
            <form method="POST">
                {% csrf_token %}
                <label for="join">ID rodziny:</label><br>
                <input type="text" id="join" name="family_id" class="form-control"><br>
                <button type="submit" class="btn btn-success">Dołącz!</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

