{% extends 'Authentication/base.html' %}

{% block content %}


<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    Logged in as {{ user.username }}
    <button type="submit"> Logout </button>
</form>

{% if not my_families%}
    Now it is time to create or join family! <br>
    <a href="{% url 'createfamily'%}">Create new family</a><br>
    <a href="{% url 'joinfamily'%}">Join existing family</a><br>

{% else %}

    You are member of this family/ies:
    {% for family in my_families %}
        ({{ family.name }} id={{family.pk}})
    {% endfor %}
    . If you want to invite someone to your family just share with him family id.
    <a href="{% url 'joinfamily'%}">Join new family</a><br>


{% endif %}

{% endblock %}