{% extends 'Authentication/base.html' %}


{% block content %}

<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active">Logged in as {{ user.username }}</a>
  </li>
<!--    FAMILIES-->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Families</a>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'myfamilies'%}">My families</a>
          <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'createfamily'%}">Create new family</a>
        <a class="dropdown-item" href="{% url 'joinfamily'%}">Join existing family</a>
    </div>
  </li>
<!--EVENTS-->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'myevents'%}">My events</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'addevent'%}">Add event!</a>
    </div>
  </li>
<!--    PHOTOS-->
  <li class="nav-item dropdown">
    <a class="nav-link" href="{% url 'photos' %}" role="button" aria-haspopup="true" aria-expanded="false">Photos</a>
  </li>

  <li class="nav-item">
    <form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-block">Logout</button>
    </form>
  </li>
</ul>


{% if not my_families%}
    Now it is time to create or join family! <br>
    <a href="{% url 'createfamily'%}">Create new family</a><br>
    <a href="{% url 'joinfamily'%}">Join existing family</a><br>
{% else %}

<!--EVENTS-->
<div>
    <h3>Events in your family</h3><br>
    {% for event in events_in_my_families %}
    <div>
        <h4>Author: {{ event.author }}</h4>
        <h3> {{ event.occasion }}</h3>
        <p>{{ event.desc }}</p>
        <h4>Date: {{ event.day }}.{{ event.month }}</h4>
    </div><br><br>
    {% endfor %}
</div>

<!--POST-->
<dvi>
<!--    CREATE POST-->
    <div>
        <form method="POST">
            {% csrf_token %}
           <label for="send_post">Send post visible to all member of your families!</label><br>
            <input type="hidden" name="form_type" value="post">
           <textarea name='send_post' id='send_post' rows="3" cols="50"></textarea><br>
           <button type="submit">Post!</button>
        </form>
    </div>

<!--    VIEW POSTS-->
    <div>
        {% if posts_in_my_families %}
            {% for post in posts_in_my_families %}
                <div>
                    <h3>{{ post.author }}</h3>
                    <p>{{ post.text }}</p>
                    <h6>{{ post.date }}</h6>
<!--                            delete post-->
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="delete">
                               <input name='post_to_delete' value="{{ post.pk }}" type=hidden >
                               <button type="submit">Delete!</button>
                            </form>
                </div>

            {% endfor %}
        {% endif %}
    </div>

<!--    PHOTOS-->
        {% if photos_in_my_families %}
            {% for photo in photos_in_my_families %}
                <div>
                    <h3>{{ photo.author }}</h3>
                    <p>{{ photo.desc }}</p>
                     <img src="{{ photo.photo.url }}" alt="photo" width="25%">
                    <h6>{{ photo.date }}</h6>
                </div>

            {% endfor %}
        {% endif %}

</dvi>



{% endif %}

{% endblock %}