{% extends 'Authentication/base.html' %}

{% load filters %}
{% block content %}
{% load static %}
<!--NAVIGATION-->
<!--RESPONSIVE-->


<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white" style="border-radius:0 0 10% 10%">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{% url 'logedin' %}">
        <img src="{% static 'Authentication/favicon/android-chrome-192x192.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Familiar
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moje rodziny</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'myfamilies'%}">Przeglądaj rodziny</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'createfamily'%}">Stwórz rodzinę</a>
              <a class="dropdown-item" href="{% url 'joinfamily'%}">Dołącz do rodziny</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Wydarzenia</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'myevents'%}">Przeglądaj moje wydarzenia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'addevent'%}">Dodaj wydarzenie</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'photos'%}">Zdjęcia</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'phonebook'%}">Książka telefoniczna</a>
          </li>
        <form action="{% url 'logoutuser' %}" method="POST" class="form-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-dark btn-block">Wyloguj</button>
        </form>
    </ul>
  </div>
</nav>
<br><br>


{% if not my_families%}
<br><br><br><br>
<div class="center-form" style="text-align:center;">
<h2>Czas dołączyć do jakiejś rodziny</h2> <br>
<h6>Stwórz jako pierwszy swoją rodzię lub poproś osobę która zaprosiła Cię do Familiara o ID rodziny do której chciałbyś dołączyć.</h6><br><br>
    <a href="{% url 'createfamily'%}" class="btn btn-primary">Stwórz rodzinę</a>
    <a href="{% url 'joinfamily'%}" class="btn btn-primary">Dołącz do istniejące rodziny</a><br>
</div>
{% else %}


<!--EVENTS-->

<div class="d-flex flex-wrap justify-content-around back-logged">
<!--    EVENTS-->
    {% if two_events %}
    <div id="events" style="width:30vw; padding:2vw; min-width:250px;transition: width 0.5s linear;">
        <h3>Nadchodzące wydarzenia:</h3><br>
        {% for event in two_events %}
            <div class="card shadow-sm p-2 mb-1 bg-white rounded">
              <div class="card-body">
                <h3 class="card-title"> {{ event.author }} </h3>
                <h5 class="card-title"> {{ event.occasion|upper }}</h5>
                <h5 class="card-title"> {{ event.day }} {{event.month|month}}</h5>
                <p class="card-text">{{ event.desc }}</p>
              </div>
            </div>
            <br>
            {% endfor %}
        {% if how_much_events >= 3%}
            <button class="btn btn-outline-primary btn-block" type="button" onclick="ShowEvents()">Pokaż więcej</button>
        {% endif %}
    </div>
    {% endif %}
    <!--POST-->
    {% if latest_post %}
    <div id="latest_post" style="padding:2vw; min-width:400px; max-width:35vw;">
        <h3>Najnowszy post:</h3><br>
            <div class="card border-dark mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 25rem;">
              <div class="card-header">Dodane: {{latest_post.date |date:"m.d.Y - h:i"}}</div>
              <div class="card-body text-dark">
                <h5 class="card-title">{{ latest_post.author }}</h5>
                <p class="card-text">{{ latest_post.text }}.</p>
                  <!--                            delete post-->
                  {% if post.author == latest_post.username %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="delete">
                       <input name='post_to_delete' value="{{ latest_post.pk }}" type=hidden >
                       <button type="submit" class="btn btn-outline-danger btn-block btn-sm">Usuń!</button>
                    </form>
                          {% endif %}
    <!--                  COMMENTS-->
                  <br><hr>
                  <div style="max-height: 318px; overflow: hidden;">
                  <h6><b>Najnowsze komentarze:</b></h6>
                      {% for comment in comments_in_my_families %}
                        {% if comment.latest_post.pk == post.pk %}
                              <b>{{ comment.author }}:</b> {{ comment.text }}<br>
                        {% endif %}
                      {% endfor %}
                  </div>
             </div>
        </div>
    </div>
    {% endif %}

    <!--PHOTO-->
    {% if latest_photo %}
    <div style="padding:2vw; min-width:300px; max-width:30vw;">
        <h3>Najnowsze zdjęcie:</h3><br>
        <div class="shadow">
                <img class="card-img-top" src="{{ latest_photo.photo.url }}" alt="Card image cap">
                <div class="card-body bg-white">
                  <h5 class="card-title">{{ latest_photo.author }}: {{ latest_photo.title }}</h5>
                  <p class="card-text">{{ latest_photo.desc }}</p>
                  <p class="card-text"><small class="text-muted">Dodane: {{latest_photo.date |date:"m.d.Y - h:i"}}</small></p>
                </div>
        </div>
    </div>
    {% endif %}
    </div>
</div>
<div class="d-inline-flex back-logged">

    <div class="" id="posts">
        <div class="d-inline-flex" style="text-align:center;">
            <h2>Posty</h2>
        </div>
        <div>
<!--                        &lt;!&ndash;    CREATE POST&ndash;&gt;-->
<!--        <div class="center-form blacked">-->
<!--            <form method="POST">-->
<!--                {% csrf_token %}-->
<!--                <h3>Dodaj post</h3>-->
<!--                <input type="hidden" name="form_type" value="post">-->
<!--               <textarea name='send_post' id='send_post' rows="3" cols="50" class="form-control"></textarea><br>-->
<!--               <button type="submit" class="btn btn-success">Dodaj!</button>-->
<!--            </form>-->
<!--        </div>-->
<!--            <hr>-->
<!--            VIEW POST-->
    <div class="d-inline-flex shadow bg-white rounded scrollbar" style="max-width: 98.5vw; overflow: scroll; overflow-y: hidden; margin-left:1.5%;margin-right:1.5%;">
                         <!--    CREATE POST-->
        <div class="card text-dark bg-secondary border-dark shadow p-3 rounded blacked d-inline-flex justify-content-center" style="max-width: 25rem; margin:1.5vw; min-width: 350px; max-height: 70vh; overflow: auto;text-align:center;">
            <br>
            <form method="POST">
                {% csrf_token %}
                <h3>Dodaj post</h3>
                <input type="hidden" name="form_type" value="post">
               <textarea name='send_post' id='send_post' rows="3" cols="50" class="form-control"></textarea><br>
               <button type="submit" class="btn btn-success">Dodaj!</button>
            </form>
        </div>
            <hr>

            {% if posts_in_my_families %}
                {% for post in posts_in_my_families %}
                <div class="card border-dark shadow p-3 bg-white rounded" style="max-width: 25rem; margin:1.5vw; min-width: 350px; max-height: 70vh; overflow: auto">
                  <div class="card-header">Dodane: {{post.date |date:"m.d.Y - h:i"}}</div>
                  <div class="card-body text-dark" >
                    <h5 class="card-title">{{ post.author }}</h5>
                    <p class="card-text">{{ post.text }}.</p>
                      <!--                            delete post-->
                      {% if post.author == user.username %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="delete">
                           <input name='post_to_delete' value="{{ post.pk }}" type=hidden >
                           <button type="submit" class="btn btn-outline-danger btn-block">Usuń!</button>
                        </form>
                              {% endif %}
    <!--                  COMMENTS-->
                          <br><hr>
                          <h6>Komentarze:</h6>
                          {% for comment in comments_in_my_families %}
                            {% if comment.post.pk == post.pk%}
                                  <b>{{ comment.author }}:</b> {{ comment.text }}<br>
                                    {% if comment.author == user.username %}
                                        <form method="POST">
                                        {% csrf_token %}
                                           <input type="hidden" name="delete_comment" value="{{ comment.pk }}">
                                           <input type="hidden" name="form_type" value="form_comment_delete">
                                           <button type="submit" class="btn btn-outline-danger btn-sm">Usuń komentarz!</button>
                                        </form>
                                    {% endif %}
                            {% endif %}
                          {% endfor %}
    <!--                  ADD-->
                          <form method="POST">
                            {% csrf_token %}
                            <hr>
                           <h6>Skomentuj</h6>
                           <input type="hidden" name="form_type" value="form_comment">
                           <input type="hidden" name="commented_post" value="{{ post.pk }}">
                           <textarea name='comment' id='comment' rows="2" cols="30" class="form-control"></textarea>
                           <button type="submit" class="btn btn-success">Skomentuj!</button>
                        </form>


                  </div>
                </div>
                     {% endfor %}
            {% else %}
            <h2>Nikt z Twoich rodzin nie dodał jeszcze posta, bądź pierwszy!</h2>
            {% endif %}
        </div>
        <div style="margin-top: 5vh">
            <h2>Zdjęcia</h2>
            <!--    PHOTOS-->
            {% if photos_in_my_families %}
                <div style="max-height:70vh;overflow:scroll;overflow-x: hidden; margin-left:1.5%;margin-right:1.5%;" class="bg-white shadow rounded"t>
                    <div class="row justify-content-md-center">
                        {% for photo in photos_in_my_families %}
                      <div class="card col-sm-3 shadow-sm p-3 mb-5 bg-white rounded" style="margin:0.8em">
                        <img class="card-img-top" src="{{ photo.photo.url }}" alt="Card image cap">
                        <div class="card-body bg-white">
                          <h5 class="card-title">{{ photo.author }}: {{ photo.title }}</h5>
                          <p class="card-text">{{ photo.desc }}</p>
                          <p class="card-text"><small class="text-muted">Dodane: {{photo.date |date:"m.d.Y - h:i"}}</small></p>
                        </div>
                      </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
     <br><br><br><br><br>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>

{% endif %}

    <script>
        function ShowEvents() {
        EventDIV = document.getElementById('events')
        EventDIV.style.width = '100vw'
        EventDIV.innerHTML = '<h3>Nadchodzące wydarzenia:</h3><br><div class="d-flex flex-wrap justify-content-around">{% for event in events_in_my_families %}<div class="card shadow-sm p-2 mb-1 bg-white rounded"><div class="card-body"><h3 class="card-title"> {{ event.author }} </h3><h5 class="card-title"> {{ event.occasion|upper }}</h5><h5 class="card-title"> {{ event.day }} {{event.month|month}}</h5><p class="card-text">{{ event.desc }}</p></div></div><br>{% endfor %}</div><br><button class="btn btn-outline-primary btn-block" type="button" onclick="HideEvents()">Pokaż Mniej</button>'}

     function HideEvents() {
            EventDIV = document.getElementById('events')
            EventDIV.style.width = '30vw'
            EventDIV.innerHTML = '<h3>Nadchodzące wydarzenia:</h3><br>{% for event in two_events %}<div class="card shadow-sm p-2 mb-1 bg-white rounded"><div class="card-body"><h3 class="card-title"> {{ event.author }} </h3><h5 class="card-title"> {{ event.occasion|upper }}</h5><h5 class="card-title"> {{ event.day }} {{event.month|month}}</h5><p class="card-text">{{ event.desc }}</p></div></div><br>{% endfor %}<button class="btn btn-outline-primary btn-block" type="button" onclick="ShowEvents()">Pokaż więcej</button>'}
    </script>

{% endblock %}

