{% extends 'Authentication/base.html' %}

{% block content %}

{% load filters %}

<div class="back back-login center">
<h2>Login</h2>
  <div class="center-form">
  <form method="post">
    {% csrf_token %}
    {% if error != None%}
        {{ error }}
    {% endif %}
    {% for field in form %}
      <br>
        {% if field.name == 'username' %}
         <small style="color:gray">Użytkownik:</small></br>
        {% else %}
        <small style="color:gray">Hasło:</small></br>
        {% endif %}

        {{ field|addclass:"form-control" }}
        {% if field.help_text %}
          {% if field.name != 'username' %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-outline-primary">Zaloguj!</button>
  </form>
  </div>
</div>

{% endblock %}