<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
{% load filters %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Authentication/css/style.css' %}" />

    <title>Familiar</title>
  </head>
  <body>


<!--NAVIGATION-->
<!--RESPONSIVE-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white" style="border-radius:0 0 10% 10%">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{% url 'logedin' %}">
        <img src="{% static 'Authentication/favicon/android-chrome-192x192.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Familiar
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moje rodziny</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'myfamilies'%}">Przeglądaj rodziny</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'createfamily'%}">Stwórz rodzinę</a>
              <a class="dropdown-item" href="{% url 'joinfamily'%}">Dołącz do rodziny</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Wydarzenia</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'myevents'%}">Przeglądaj moje wydarzenia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'addevent'%}">Dodaj wydarzenie</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'photos'%}">Zdjęcia</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'phonebook'%}">Książka telefoniczna</a>
          </li>
        <form action="{% url 'logoutuser' %}" method="POST" class="form-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-dark btn-block">Wyloguj</button>
        </form>
    </ul>
  </div>
</nav>


<div class="back-myfamilies" style="margin-top:10vh;" style="background-image: url( {% static 'Authentication/img/doodle5.png' %})">
    <h2 style="margin:3vh">Jesteś członkiem {{ number_of_families }} rodzin/y:</h2>
    <br>
    <div class="d-flex justify-content-around flex-wrap">
{% for family in my_families %}
        <div style="text-align: center;margin:3vh; min-width:400px;padding:2%;border-radius:3%;" class="bg-white">
            <h3>{{ family.name }}</h3>
                <h5>ID rodziny: <b>{{ family.pk }}</b></h5>
                <p>{{ family.description }}</p>
            <button onclick="ShowMembers({{ family.pk }})" class="btn btn-light"><b>Członkowie rodziny   </b><span class="badge badge-primary badge-pill"> {{ family.count_members }}</span></button>
                <ul id="{{ family.pk }}" style="display: none;S">
                    {% for member in family.members.all %}
                    <li>
                       <a href="{% url 'profile' member %}" class="badge badge-light">{{ member }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="family_id" value="{{ family.pk }}" ><br>
                    <button type="submit" class="btn btn-danger">Opuść rodzinę!</button>
                </form>
        </div>
{% endfor %}
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        function ShowMembers(e) {
            list = document.getElementById(e)
            if (list.style.display === 'block') {
                list.style.display = 'none'}
            else {
            list.style.display = 'block'}
        }
    </script>
  </body>
</html>
