{% extends 'Authentication/navigation.html' %}

{% block navigation %}
{% load static %}

<div class="back-joinfamily" style="background-image: url( {% static 'Authentication/img/doodle3.png' %})">
    <div class="center-form">
        <ul class="list-group">
            <li class="list-group-item active">Jesteś na profilu: <b>{{ profile }}</b> </li>
          <li class="list-group-item"><b>Imię:</b> {{ profile.first_name }}</li>
          <li class="list-group-item"><b>Nazwisko:</b> {{ profile.last_name }}</li>
          <li class="list-group-item"><b>Email:</b> {{ profile.email }}</li>
          <li class="list-group-item"><b>Dołączył/a:</b> {{ profile.date_joined | date:"j.m.Y" }}</li>
        </ul>
    </div>
</div>

{% endblock %}