.back {
  width: 100wv;
  height: 100vh;
  background-size: cover;
  text-align: center;
  padding-top:30vh;
}

.blacked {
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(252,252,252,0.92) 47%, rgba(255,255,255,0.84) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(252,252,252,0.92)), color-stop(100%, rgba(255,255,255,0.84)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(252,252,252,0.92) 47%, rgba(255,255,255,0.84) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(252,252,252,0.92) 47%, rgba(255,255,255,0.84) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(252,252,252,0.92) 47%, rgba(255,255,255,0.84) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(252,252,252,0.92) 47%, rgba(255,255,255,0.84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    border-radius: 10%;
    padding:15px;

}

.back-register {
  width: 100wv;
  height: 100vh;
  text-align: center;
  padding-top:5vh;
  background-size: 30%;
  background-repeat: repeat;
  background-image: url('./../img/kwiaty.png')
}

.back-createfamily {
  width: 100wh;
  height: 100vh;
  background-size: contain;
  text-align: center;
  padding-top:10vh;
  background-image: url('./../img/doodle3.png');
}

.back-joinfamily {
  width: 100wv;
  height: 100vh;
  background-size: cover;
  text-align: center;
  padding-top:30vh;
  background-image: url('./../img/doodle3.png');
}

.back-addevent {
  width: 100wv;
  height: 100vh;
  background-size: cover;
  text-align: center;
  padding-top:8vh;
  background-image: url('./../img/doodle3.png');
}

.back-home {
  position: relative;
  width: 100wv;
  height: 100vh;
  text-align: center;
  padding-top:20vh;
  background-position: -20% 0 ;
  background-size: 20%;
  background-image: url('./../img/home2.png')
}

.back-login {
  background-size: 20%;
  background-repeat: repeat;
  background-image: url('./../img/domek.png');
}


.btn-link {
 color:black;
}

.btn-link:hover {
 color:#6495ED;
}

.center-form {
 width: 40vw;
 margin: 0 auto;
}

.blue {
 background-color: 5F9EA0;
}

.frame {
 border: 2px gray double;
 border-radius: 10%;
}
