{% extends 'Authentication/navigation.html' %}

{% block navigation %}
{% load static %}


    {% load filters %}

<div class="back-myevents" style="background-image: url( {% static 'Authentication/img/doodle5.png' %})">
    <h2 style="margin:3vh">Twoje wydarzenia:</h2>
    {% if msg == 'Wydarzenie usunięto' %}
        <h2 class="text-danger" style="text-align:center;">{{ msg }}</h2>
    {% elif msg == 'Dodano wydarzenie' %}
        <h2 class="text-success" style="text-align:center;">{{ msg }}</h2>
    {% endif %}
    <br>
    <div class="d-flex justify-content-around flex-wrap">
        {% for my_event in my_events %}
    <div class='shadow bg-white' style="text-align:center; border: 2px gray linear; padding: 15px; border-radius:4%; width:300px;margin-top:5vh;">
            <h2>{{ my_event.occasion }}</h2>
            <p>{{ my_event.desc }}</p>
            <h4>{{ my_event.day }} {{my_event.month|month}}</h4>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="event_id" value="{{ my_event.pk }}" ><br>
                <button type="submit" class="btn btn-outline-danger">Usuń!</button>
            </form>
    </div>
        {% endfor %}
    </div>
</div>

{% endblock %}