<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Familiar</title>
  </head>
  <body>

<!--NAVIGATION-->
<!--RESPONSIVE-->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand"">Zalogowany jako: {{ user.username }}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logedin'%}">Strona główna</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moje rodziny</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'myfamilies'%}">Przeglądaj rodziny</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'createfamily'%}">Stwórz rodzinę</a>
              <a class="dropdown-item" href="{% url 'joinfamily'%}">Dołącz do rodziny</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Wydarzenia</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'myevents'%}">Przeglądaj moje wydarzenia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'addevent'%}">Dodaj wydarzenie</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'photos'%}">Zdjęcia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'phonebook'%}">Książka telefoniczna</a>
          </li>
        <form action="{% url 'logoutuser' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block">Wyloguj</button>
        </form>
    </ul>
  </div>
</nav>
<br><br>


    {% load filters %}

<div>
    <h2 style="margin:3vh">Twoje wydarzenia:</h2>
    <br>
    <div class="d-flex justify-content-around flex-wrap">
        {% for my_event in my_events %}
    <div class='shadow' style="text-align:center; border: 2px gray linear; padding: 15px; border-radius:4%; width:300px;margin-top:5vh;">
            <h2>{{ my_event.occasion }}</h2>
            <p>{{ my_event.desc }}</p>
            <h4>{{ my_event.day }} {{my_event.month|month}}</h4>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="event_id" value="{{ my_event.pk }}" ><br>
                <button type="submit" class="btn btn-outline-danger">Usuń!</button>
            </form>
    </div>
        {% endfor %}
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>