{% extends 'Authentication/navigation.html' %}

{% block navigation %}
{% load static %}

<br><br><br><br>

<div class="back-phone" style="background-image: url( {% static 'Authentication/img/doodle5.png' %})">
    {% if allow %}
        <div class="center-form">
            <h3>Twój numer telefonu to:</h3>
                <form method="POST">
                    {% csrf_token %}
                    <input name="what_to_do" class="form-control" value="edit_number" type="hidden"><br>
                    <input name="phone_number" class="form-control" value="{{ my_number }}"><br>
                    <button type="submit" class="btn btn-outline-success">Zmień!</button>
                </form>
            <h5 style="color:red;"> {{ error }} </h5>
        </div>
        <br><hr><br>
        <div>
            <ul class="list-group center-form shadow">
              <li class="list-group-item active">Numery telefonów członków Twoich rodziny:</li>
              {% for number in numbers_in_my_families%}
                <a href="{% url 'profile' number.author %}" class="list-group-item list-group-item-action"><b class="text-primary">{{ number.author }}: </b> {{ number.phone_number }}</a>
              {% endfor %}
            </ul>
         </div>
    {% else %}
        <div class="center-form">
        <h3>Aby mieć dostęp do książki telefonicznej dodaj swój numer telefonu.</h3>
        <h6>Będzie on widoczny dla członków Twojej rodziny i wykorzystany wyłącznie w tym celu :)</h6>
            <form method="POST">
                {% csrf_token %}
                <input name="phone_number" class="form-control"><br>
                <button type="submit" class="btn btn-outline-success">Dodaj!</button>
            </form>
        {% if error %}
            <h4 style="color:red;"> {{ error }}</h4>
        {% endif %}
        </div>
    {% endif %}
</div>

{% endblock %}