{% extends 'Authentication/navigation.html' %}

{% block navigation %}
{% load static %}

<div class="back-photos" style="background-image: url( {% static 'Authentication/img/doodle5.png' %})">
    <h2 style="margin:10vh;">Dodaj zdjęcie:</h2>
    <div class="center-form bg-white">
         {% if msg == 'Zdjęcie dodane - sprawdź na dole strony' %}
            <h2 class="text-success">{{ msg }}</h2>
        {% elif msg == 'Zdjęcie usunięte' %}
            <h2 class="text-danger">{{ msg }}</h2>
         {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="add_photo" class="form-control"><br>
            <h5>Tytuł:</h5>
            <input id="photo" name="title" class="form-control"><br><br>
            <h5>Opis (opcjonalnie):</h5>
            <textarea name="desc" class="form-control"></textarea><br>
            <h5>Wybierz zdjęcie:</h5>
            <input type="file" name="photo_file"> <br> <br>
             <button type="submit" class="btn btn-success" action="{% url 'photos' %}">Dodaj!</button>
        </form>
    </div>
    <br><br><br>
</div>
<h2 style="margin-left:10vh;">Twoje zdjęcia: </h2>
<br>
<div class="row d-flex justify-content-around">
    {% for photo in photos %}
    <div class="card col-sm-3">
      <img class="card-img-top" src="{{ photo.photo.url }}" alt="Card image cap" style="margin-top:5px;">
      <div class="card-body">
        <h5 class="card-title text-primary">{{ photo.title }}</h5>
        <p class="card-text">{{ photo.desc }}</p>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="delete_photo">
                <input type="hidden" name="photo_id" value="{{ photo.pk }}" ><br>
                <button type="submit" class="btn btn-danger">Usuń!</button>
            </form>
      </div>
    </div>
    {% endfor %}
</div>
    <br><br>

{% endblock %}