<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Familiar</title>
  </head>
  <body>

<div><a class="btn btn-secondary btn-lg btn-block" href="{% url 'logedin' %}">Strona główna</a></div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Dodaj zdjęcie:</h3>
        <input type="hidden" name="form_type" value="add_photo" class="form-control"><br>
        <h5>Tytuł:</h5>
        <input id="photo" name="title" class="form-control"><br><br>
        <h5>Opis (opcjonalnie):</h5>
        <textarea name="desc" class="form-control"></textarea><br>
        <h5>Wybierz zdjęcie:</h5>
        <input type="file" name="photo_file"> <br> <br>
         <button type="submit" class="btn btn-outline-success" action="{% url 'photos' %}">Dodaj!</button>
    </form>

    <br><br><br>

<h2> Twoje zdjęcia </h2>


<div class="row">
    {% for photo in photos %}
    <div class="card col-sm-4" style="width: 18rem;">
      <img class="card-img-top" src="{{ photo.photo.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ photo.title }}</h5>
        <p class="card-text">{{ photo.desc }}</p>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="delete_photo">
                <input type="hidden" name="photo_id" value="{{ photo.pk }}" ><br>
                <button type="submit" class="btn btn-outline-danger">Usuń!</button>
            </form>
      </div>
    </div>
    {% endfor %}
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>